@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

body{
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

/* BENVENUTO PAGINA */
#Benvenuto{
  height:98vh;
}

#BenvenutoDivOne{
height:28%;
border-radius: 15px;
background-color: rgba(127, 147, 187, 0.38);
}

#LogoAthletix{
  height: 2em;
  border-radius: 1em;
}

/* SOCIETA */
.plusEvento, .cardEvento{
  cursor: pointer;
}

#ricercaAtletiRow{
  height: 75vh;
  overflow: scroll;
}

@media screen and (max-width:550px) {
  .societaAtleta, .dataAtleta, .categoriaAtleta{
    display: none;
  }
  
}

#navbarAthletix{
  position: sticky;
  top: 0;
  z-index: 100;
}
#contenitoreGara{
  background-color: #212529;
  color: white;
  border-radius: 1em;
  padding: 1em;
}
