@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

body{
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

/* BENVENUTO PAGINA */
#Benvenuto{
  height:90vh;
}

.paginaErrore{
  background-image: url("../public/images/LogoAthletix.png");
}
.menuScelta{
  background-color: #212529!important;
  color:black!important;
}

.lead{
  font-weight: 400!important;
}
#tipoDropdown::after{
  display:none;
}

.css-1im77uy-control{
  border-radius:0.5rem!important;
  cursor: pointer!important;
}

.inputS::placeholder{
  font-size: 1.1rem;
}

.sfondoErrore{
  height: 40%;
  width: 60%;
  border-radius: 1em;
    padding: 1em;
    background: radial-gradient(circle, rgba(63,94,251,0.97) 0%, rgba(252,70,107,0.97) 100%);
}

#BenvenutoDivOne{
height:28%;
border-radius: 15px;
background-color: rgba(127, 147, 187, 0.38);
}

#LogoAthletix{
  height: 2em;
  border-radius: 1em;
}

.cardPagine{
      color: white!important;
    background-color: #212529!important;
}

/* SOCIETA */
.plusEvento, .cardEvento{
  cursor: pointer;
}

#ricercaAtletiRow{
  height: 75vh;
  overflow: scroll;
  border-radius: 1em;
    border: 1px solid white;
    padding-top: 0.5em;
}

@media screen and (max-width:550px) {
  .societaAtleta, .dataAtleta, .categoriaAtleta{
    display: none;
  }
  
}

#navbarAthletix{
  position: sticky;
  top: 0;
  z-index: 100;
}

#footerAthletix{
  background-color: #212529;
  position: sticky;
  top: 0;
  z-index: 100;
}

#contenitoreGara{
  background-color: #212529;
  color: white;
  border-radius: 1em;
  padding: 1em;
}
